absl-py==0.15.0
certifi==2021.10.8
cycler==0.10.0
flatbuffers==2.0
imageio==2.9.0
jax==0.2.12
jaxlib==0.1.70+cuda110
kiwisolver==1.3.2
matplotlib==3.4.3
numpy==1.21.3
opt-einsum==3.3.0
Pillow==8.4.0
pyparsing==3.0.1
python-dateutil==2.8.2
scipy==1.7.1
six==1.16.0
tqdm==4.62.3
typing-extensions==3.10.0.2
